a {
    text-decoration: none;
    color: #000;
}

.titleContainer {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10px;
    color: #BC002D;
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.subTitutulContainer{
    display: flex;
    flex-direction: row;
    color: #000;
    margin: 0;
    
}

.subTopTitutul {
    font-style: normal;
    font-size: 50px;
    margin: 0;
    
}

.subChinTitutul{
    font-style: normal;
    font-size: 20px;
    margin: 0;
    
}

.mainTittle {
    font-weight: 900;
    font-size: 160px;
    margin: 0;
    text-shadow: 5px 3px #000;
    
}

.mainTittle:hover {
    font-weight: 900;
    font-size: 160px;
    margin: 0;
    text-shadow: 0 0 #000;
    
}

.buttonContainer {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.playBtn {
    background-color: white;
    border: 2px solid #BC002D;
    border-radius: 0;
    box-shadow: none;
    width: 25rem;
    height: 4rem;
    margin: 5% 5% 5px;
    box-shadow: 5px 3px #000;
}

.howToBtn {
    background-color: white;
    border: 2px solid #BC002D;
    border-radius: 0;
    box-shadow: none;
    width: 25rem;
    height: 4rem;
    margin: 5px 5%;
    box-shadow: 5px 3px #000;
}

.scoreBtn {
    background-color: white;
    border: 2px solid #BC002D;
    border-radius: 0;
    box-shadow: none;
    width: 25rem;
    height: 4rem;
    margin: 5px 5% 5%;
    box-shadow: 5px 3px #000;

}

.scoreBtn:hover {
    background: hsl(345.63829787234044deg 100% 26.86274509803922%);
    border: 2px solid hsl(345.63829787234044deg 100% 26.86274509803922%);
    border-radius: 0;
    box-shadow: none;
    color: white;
}
.howToBtn:hover {
    background: hsl(345.63829787234044deg 100% 26.86274509803922%);
    border: 2px solid hsl(345.63829787234044deg 100% 26.86274509803922%);
    border-radius: 0;
    box-shadow: none;
    color: white;
}
.playBtn:hover {
    background: hsl(345.63829787234044deg 100% 26.86274509803922%);
    border: 2px solid hsl(345.63829787234044deg 100% 26.86274509803922%);
    border-radius: 0;
    box-shadow: none;
    color: white;
}

.gameContainer{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    margin: 0 20%;
    align-items: center;
}

.playedWords{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    margin: 0 20%;
    align-items: center;
}
.scoreTable {
    list-style: none;
}

.inputTittle {
    margin: 10;
}

.instructions {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 30%;
    box-shadow: 5px 3px #000;
    border: #000;
    border-width: 1px;
    border-style: solid;
    padding: 1%;
}

.instructions:hover {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 30%;
    border-width: 1px;
    border-style: solid;
    padding: 1%;
    background: hsl(345.63829787234044deg 100% 26.86274509803922%);
    border: 2px solid hsl(345.63829787234044deg 100% 26.86274509803922%);
    border-radius: 0;
    box-shadow: none;
    color: white;
}

.howToTittle {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.howToText {
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
}

.howToText2 {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.footerLinks {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.footerLinksList{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.fLinks{
    margin: 0 10px 0 10px;
    font-size: 20px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}
/*
.sIcon {

}
*/
.computer {
    color: #BC002D;
}

/*
Dark theme
background
#191b1c
tittle
#ff4772

button border
#c7002e
*/